<section>
  <div>
    <%= link_to('Cadastrar Produto', new_shipping_company_product_model_path)%>
  </div>

  <h2>Modelos de Produtos</h2>
  <% if @product_models.any? %>
    <% @product_models.each do |product| %>
      <div>
        <p>Nome: <%= product.name %> | Código: <%= link_to product.sku, shipping_company_product_model_path(@shipping_company.id, product.id) %></p>
      </div> 
    <% end %>
  <% else %>
    <p>Não existem modelos de produtos cadastrados.</p>
  <% end %>
</section>