<section>
<h2>Modelos de Produtos</h2>
  <div>
    <%= link_to('Cadastrar Produto', new_shipping_company_product_model_path)%>
  </div>
  <% if @product_models.any? %>
    <% @product_models.each do |s| %>
      <div>
        <p>Nome: <%= s.name %> | Código: <%= s.sku %></p>
      </div> 
    <% end %>
  <% else %>
    <p>Não existem modelos de produtos cadastrados.</p>
  <% end %>
</section>