<section>
  <h2>Ordens de Serviço</h2>
  <% if @service_orders.any? %>
    <% @service_orders.each do |order| %>
      <table>
        <tr>
        <th><%= link_to order.code, order %></th> 
        <td><%= t(order.status) %></td>
        </tr>
      </table> 
    <% end %>
  <% else %>
    <p>Não existem ordens de serviço cadastradas.</p>
  <% end %>
</section>

