<section>
  <h2>Ordens de Serviço</h2>
  <% if @service_orders.any? %>
    <% @service_orders.each do |order| %>
      <div>
        <p> <%= order.code %> | <%= t(order.status) %></p>
      </div> 
    <% end %>
  <% else %>
    <p>Não existem ordens de serviço cadastradas.</p>
  <% end %>
</section>

