<section>

<h2>Veículos</h2>

<% if @vehicles.any? %>

  <% @vehicles.each do |vehicle| %>
    <div>
      <dt>Modelo: </dt><dd><%= link_to vehicle.model, shipping_company_vehicle_path(@shipping_company.id, vehicle.id) %></dd>
    </div>  
  <% end %>

<% else %>
  <p>Não existem veículos cadastrados.</p>
<% end %>

</section>